/.vs
/build
/database
/dist
/examples/database
/examples/test*
/test
/whatsfly/whatsfly.egg-info
/whatsfly.egg-info
# /whatsfly/dependencies/example*
__init__.py
whatsfly-0.0.2/

# excluding cache and test files
/whatsfly/__pycache__
/whatsfly/dependencies/test*

# excluding build *.h and test files
whatsfly/__init__.pyc
whatsfly/dependencies/libwapp.so
whatsfly/dependencies/wapp.db
whatsfly/dependencies/whatsmeow/whatsmeow-*.h
/whatsfly-0.*